USE [master]
GO
/****** Object:  Database [Inventory_Management_System]    Script Date: 12/8/2023 8:07:40 PM ******/
CREATE DATABASE [Inventory_Management_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Inventory_Management_System', FILENAME = N'F:\SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Inventory_Management_System.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Inventory_Management_System_log', FILENAME = N'F:\SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Inventory_Management_System_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Inventory_Management_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Inventory_Management_System]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/8/2023 8:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [varchar](max) NOT NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/8/2023 8:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerID] [int] IDENTITY(1,1) NOT NULL,
	[customerName] [varchar](max) NOT NULL,
	[gender] [varchar](max) NULL,
	[contactNumber] [varchar](max) NOT NULL,
	[backupContact] [varchar](max) NULL,
	[email] [varchar](max) NULL,
	[address] [varchar](max) NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 12/8/2023 8:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[materialID] [int] IDENTITY(1,1) NOT NULL,
	[materialName] [varchar](max) NOT NULL,
	[description] [varchar](max) NULL,
	[units] [int] NOT NULL,
 CONSTRAINT [PK_MATERIAL] PRIMARY KEY CLUSTERED 
(
	[materialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12/8/2023 8:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[productName] [varchar](max) NOT NULL,
	[description] [varchar](max) NOT NULL,
	[price] [real] NOT NULL,
	[quantityProduced] [int] NOT NULL,
	[quantitySold] [int] NOT NULL,
	[categoryID] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTS] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductsManufactured]    Script Date: 12/8/2023 8:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsManufactured](
	[logID] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTSMANUFACTURED] PRIMARY KEY CLUSTERED 
(
	[logID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase]    Script Date: 12/8/2023 8:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[purchaseID] [int] IDENTITY(1,1) NOT NULL,
	[purchaseDate] [date] NOT NULL,
	[totalAmount] [int] NOT NULL,
	[vendorID] [int] NULL,
 CONSTRAINT [PK_PURCHASE] PRIMARY KEY CLUSTERED 
(
	[purchaseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchaseMaterial]    Script Date: 12/8/2023 8:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseMaterial](
	[purchaseID] [int] NOT NULL,
	[materialID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[cost] [int] NOT NULL,
 CONSTRAINT [PK_PURCHASEMATERIAL] PRIMARY KEY CLUSTERED 
(
	[purchaseID] ASC,
	[materialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 12/8/2023 8:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[saleID] [int] IDENTITY(1,1) NOT NULL,
	[saleDate] [date] NOT NULL,
	[totalAmount] [real] NOT NULL,
	[customerID] [int] NOT NULL,
	[userID] [int] NOT NULL,
 CONSTRAINT [PK_SALE] PRIMARY KEY CLUSTERED 
(
	[saleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleProduct]    Script Date: 12/8/2023 8:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleProduct](
	[saleID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[soldPrice] [real] NOT NULL,
	[discount] [real] NULL,
 CONSTRAINT [PK_SALEPRODUCT] PRIMARY KEY CLUSTERED 
(
	[saleID] ASC,
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12/8/2023 8:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](max) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[gender] [varchar](max) NOT NULL,
	[contactNumber] [varchar](max) NOT NULL,
	[backupContact] [varchar](max) NULL,
	[email] [varchar](max) NOT NULL,
	[privilege] [varchar](max) NOT NULL,
	[address] [varchar](max) NOT NULL,
	[joinDate] [date] NOT NULL,
	[leaveDate] [date] NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 12/8/2023 8:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[vendorID] [int] IDENTITY(1,1) NOT NULL,
	[vendorName] [varchar](max) NOT NULL,
	[contactNumber] [varchar](max) NOT NULL,
	[backupContact] [varchar](max) NOT NULL,
	[email] [varchar](max) NOT NULL,
	[address] [varchar](max) NOT NULL,
 CONSTRAINT [PK_VENDOR] PRIMARY KEY CLUSTERED 
(
	[vendorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (1, N'Men')
INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (2, N'Women')
INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (3, N'Boys')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customerID], [customerName], [gender], [contactNumber], [backupContact], [email], [address]) VALUES (1, N'mojojo uncle', N'Male', N'03028764534', N'03214567829', N'mojojo.khan@example.com', N'washing street 123')
INSERT [dbo].[Customer] ([customerID], [customerName], [gender], [contactNumber], [backupContact], [email], [address]) VALUES (2, N'Jane Smith', N'Female', N'987654321', N'1234567891', N'jane.smith@example.com', N'456 Oak Ave')
INSERT [dbo].[Customer] ([customerID], [customerName], [gender], [contactNumber], [backupContact], [email], [address]) VALUES (3, N'Alice Johnson', N'Female', N'1112233445', N'5556667777', N'alice.johnson@example.com', N'789 Pine Rd')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([materialID], [materialName], [description], [units]) VALUES (1, N'Labelss', N'Ad-Duha logo printed', 1950)
INSERT [dbo].[Material] ([materialID], [materialName], [description], [units]) VALUES (2, N'Blue wash n wear', N'54 inch width', 105)
INSERT [dbo].[Material] ([materialID], [materialName], [description], [units]) VALUES (3, N'Maroon wash n wear', N'55 inch width', 25)
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([productID], [productName], [description], [price], [quantityProduced], [quantitySold], [categoryID]) VALUES (1, N'Emirati Thobe', N'Emirati-Thobe-58S Maroon', 3790, 10, -2, 1)
INSERT [dbo].[Products] ([productID], [productName], [description], [price], [quantityProduced], [quantitySold], [categoryID]) VALUES (2, N'Emirati Thobe', N'Emirati-Thobe-58M Maroon', 3700, 4, 0, 1)
INSERT [dbo].[Products] ([productID], [productName], [description], [price], [quantityProduced], [quantitySold], [categoryID]) VALUES (3, N'Emirati Thobe', N'Emirati-Thobe-52S Maroon', 3790, 13, -2, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Purchase] ON 

INSERT [dbo].[Purchase] ([purchaseID], [purchaseDate], [totalAmount], [vendorID]) VALUES (1, CAST(N'2021-01-09' AS Date), 125000, 3)
INSERT [dbo].[Purchase] ([purchaseID], [purchaseDate], [totalAmount], [vendorID]) VALUES (2, CAST(N'2021-01-09' AS Date), 49000, 1)
INSERT [dbo].[Purchase] ([purchaseID], [purchaseDate], [totalAmount], [vendorID]) VALUES (3, CAST(N'2021-01-10' AS Date), 1500, 2)
SET IDENTITY_INSERT [dbo].[Purchase] OFF
GO
INSERT [dbo].[PurchaseMaterial] ([purchaseID], [materialID], [quantity], [cost]) VALUES (1, 1, 45, 1000)
INSERT [dbo].[PurchaseMaterial] ([purchaseID], [materialID], [quantity], [cost]) VALUES (1, 2, 40, 2000)
INSERT [dbo].[PurchaseMaterial] ([purchaseID], [materialID], [quantity], [cost]) VALUES (2, 4, 100, 490)
GO
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([saleID], [saleDate], [totalAmount], [customerID], [userID]) VALUES (5, CAST(N'2022-05-17' AS Date), 7100, 3, 3)
INSERT [dbo].[Sale] ([saleID], [saleDate], [totalAmount], [customerID], [userID]) VALUES (6, CAST(N'2022-05-18' AS Date), 12000, 4, 4)
INSERT [dbo].[Sale] ([saleID], [saleDate], [totalAmount], [customerID], [userID]) VALUES (7, CAST(N'2022-05-19' AS Date), 3000, 5, 5)
SET IDENTITY_INSERT [dbo].[Sale] OFF
GO
INSERT [dbo].[SaleProduct] ([saleID], [productID], [quantity], [soldPrice], [discount]) VALUES (5, 3, 2, 3550, 0)
INSERT [dbo].[SaleProduct] ([saleID], [productID], [quantity], [soldPrice], [discount]) VALUES (6, 4, 3, 4000, 0)
INSERT [dbo].[SaleProduct] ([saleID], [productID], [quantity], [soldPrice], [discount]) VALUES (7, 5, 1, 3000, 0)
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([userID], [userName], [password], [gender], [contactNumber], [backupContact], [email], [privilege], [address], [joinDate], [leaveDate]) VALUES (2, N'Basil Ali Khan', N'abcd1234', N'Male', N'03072976387', N'987654321', N'khanbasil2002@gmail.com', N'Admin', N'123 Main St', CAST(N'2022-01-01' AS Date), NULL)
INSERT [dbo].[User] ([userID], [userName], [password], [gender], [contactNumber], [backupContact], [email], [privilege], [address], [joinDate], [leaveDate]) VALUES (3, N'John Doe', N'password11', N'Male', N'123456789', N'987654321', N'john.doe@example.com', N'User', N'456 Street', CAST(N'2023-11-11' AS Date), NULL)
INSERT [dbo].[User] ([userID], [userName], [password], [gender], [contactNumber], [backupContact], [email], [privilege], [address], [joinDate], [leaveDate]) VALUES (4, N'Jane Smith', N'password12', N'Female', N'987654321', N'123456789', N'jane.smith@example.com', N'User', N'789 Avenue', CAST(N'2023-11-12' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendor] ON 

INSERT [dbo].[Vendor] ([vendorID], [vendorName], [contactNumber], [backupContact], [email], [address]) VALUES (1, N'Shafiq Press Packaging', N'03258749654', N'03338754213', N'SPP@gmail.com', N'ABC Lane, I.I Chundrigar Road')
INSERT [dbo].[Vendor] ([vendorID], [vendorName], [contactNumber], [backupContact], [email], [address]) VALUES (2, N'Casual Threads Co.', N'03123456789', N'03219876543', N'info@casualthreads.com', N'123 Fashion Street')
INSERT [dbo].[Vendor] ([vendorID], [vendorName], [contactNumber], [backupContact], [email], [address]) VALUES (3, N'Elegant Attire ', N'03451234567', N'03559876543', N'sales@elegantattire.com', N'456 Style Avenue')
SET IDENTITY_INSERT [dbo].[Vendor] OFF
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [Products_fk0] FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([categoryID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [Products_fk0]
GO
ALTER TABLE [dbo].[ProductsManufactured]  WITH CHECK ADD  CONSTRAINT [ProductsManufactured_fk0] FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ProductsManufactured] CHECK CONSTRAINT [ProductsManufactured_fk0]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [Purchase_fk0] FOREIGN KEY([vendorID])
REFERENCES [dbo].[Vendor] ([vendorID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [Purchase_fk0]
GO
ALTER TABLE [dbo].[PurchaseMaterial]  WITH CHECK ADD  CONSTRAINT [PurchaseMaterial_fk0] FOREIGN KEY([purchaseID])
REFERENCES [dbo].[Purchase] ([purchaseID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PurchaseMaterial] CHECK CONSTRAINT [PurchaseMaterial_fk0]
GO
ALTER TABLE [dbo].[PurchaseMaterial]  WITH CHECK ADD  CONSTRAINT [PurchaseMaterial_fk1] FOREIGN KEY([materialID])
REFERENCES [dbo].[Material] ([materialID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PurchaseMaterial] CHECK CONSTRAINT [PurchaseMaterial_fk1]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [Sale_fk0] FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [Sale_fk0]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [Sale_fk1] FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [Sale_fk1]
GO
ALTER TABLE [dbo].[SaleProduct]  WITH CHECK ADD  CONSTRAINT [SaleProduct_fk0] FOREIGN KEY([saleID])
REFERENCES [dbo].[Sale] ([saleID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SaleProduct] CHECK CONSTRAINT [SaleProduct_fk0]
GO
ALTER TABLE [dbo].[SaleProduct]  WITH CHECK ADD  CONSTRAINT [SaleProduct_fk1] FOREIGN KEY([productID])
REFERENCES [dbo].[Products] ([productID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SaleProduct] CHECK CONSTRAINT [SaleProduct_fk1]
GO
USE [master]
GO
